body {
    text-align: center;
    width: 100%;
}

.back{
    background-color: firebrick;
}

@font-face {
    font-family: "Open-Sans";
    src: url("css/fonts/Open-Sans.eot");
    src:
    url("css/fonts/Open-Sans.woff") format(woff),
    url("css/fonts/Open-Sans.otf")format(opentype),
    url(css/fonts/Open-Sans.svg#filename)format("svg");
}

h1{
    font-family: 'Open-Sans';
}

